@media only screen
and (max-width : 1400px) {

}

@media only screen
and (max-width : 1300px) {
	
}
@media only screen
and (max-width : 1200px) {
	
}
@media only screen
and (max-width : 1090px) {

}

@media only screen
and (max-width : 1020px) {
    .page_wrap .page_inner .sec{
        width: 100%;
    }
    .page_wrap .page_inner .sec .nav {
        display:unset;
    }
    .page_wrap .page_inner .sec ul {
        display: unset;
    }
    .page_wrap .page_inner .sec .text_contents .con_box{
        display: block;
    }
    .page_wrap .page_inner .sec .text_contents .con_box .box_section{
        margin-bottom: 2rem;
    }
    .page_wrap .page_inner .sec ul li{
        padding: 1rem 0;
        border-bottom: 1px solid black;
    }
    .page_wrap .page_inner .sec ul a:hover{
        border-bottom: none;
        color: #555555
    }
    .page_wrap .page_inner .sec .text_contents .con_box.entrepreneur .box_section{
        margin: 0;
        padding: 1rem;
    }
}

@media only screen
and (max-width : 1000px) {
}

@media only screen
and (max-width : 800px) {
    .page_wrap .page_inner .sec .text_contents .contact_us .contact_info{
        flex-direction: column;
        gap: 2rem;
    }
    .page_wrap .footer .bottom_1{
        flex-direction: column;
        gap: 0;
    }
    .page_wrap .footer .bottom_1 .footer_logo{
        text-align: center;
    }
}

@media only screen
and (max-width : 600px) {

}

@media only screen
and (max-width : 500px) {


}
