@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
html{
	font-size: 62.5%;
    color: #555555;
}
body{
	font-family: Arial;
}
.page_wrap {
    margin: 0;
    padding: 0;
    line-height: 1.5;
}
.page_wrap .page_inner {
    margin: 0 auto;
    box-sizing: border-box;
}
.page_wrap .page_inner .sec {
    position: relative;
    margin: 0 auto;
    padding: 2rem 4rem 6rem;
    width: 130rem;
    box-sizing: border-box;
    border-radius: 5px;
    clear: both;
}
.page_wrap .page_inner .sec.footer {
    padding: 2rem 4rem;
}
.page_wrap .page_inner .sec::after{

}
.page_wrap .page_inner .sec .nav{
	font-size: 2.5rem;
	display: flex;
    margin: 0 auto;
    width: 100%;
	font-family: 'Oswald', sans-serif;
	font-weight: bold;
}
.page_wrap .page_inner .sec .logo{
	text-align: center;
}
.page_wrap .page_inner .sec .logo img{
	width: 100%;
	max-width: 300px;
}
.page_wrap .page_inner .sec ul{
	display: flex;
	justify-content: center;
	margin-left: 4rem;
}
.page_wrap .page_inner .sec ul a{
	text-decoration: none;
	border: 2px solid rgba(0, 0, 0, 0);;
	color: #555555 !important;
}
.page_wrap .page_inner .sec ul a:hover{
	border-bottom: 2px solid #555555;
	color: #555555
}
.page_wrap .page_inner .sec ul li{
	padding: 2rem 2rem;
}
.page_wrap .page_inner .sec .container{
	width: 100%;
	padding: 0;
}
.page_wrap .page_inner .sec .ttl{
	text-align: center;
	font-weight: bold;
	margin: 2rem 0;
	text-transform: uppercase;
}
.page_wrap .page_inner .sec .ttl p{
	font-size: 2rem;
	font-family: 'Oswald', sans-serif;
	font-weight: bold;

	background: url(../images/h5-bg.png) no-repeat scroll center bottom rgba(0, 0, 0, 0);
    color: #353535;
    font-weight: bold;
    letter-spacing: 1px;
    padding-bottom: 2rem;
    text-transform: uppercase;
}
.page_wrap .page_inner .sec p{
	font-size: 1.5rem;
	line-height: 2;
}
.page_wrap .page_inner .sec .bg_scheme{
	background:#fff;
}
.page_wrap .page_inner .sec .text_contents{

}
.page_wrap .page_inner .sec .text_contents .con_box{
	display: flex;
	gap: 3rem;
}
.page_wrap .page_inner .sec .text_contents .con_box .box_section{
	padding: 3rem;
	border-radius: 1rem;
}
.page_wrap .page_inner .sec .text_contents .con_box.entrepreneur .box_section{
	padding: 0 3rem;
}
.page_wrap .page_inner .sec .text_contents .con_box .box_section figure.team{
	text-align: center;
	margin-bottom: 2rem;
}
.page_wrap .page_inner .sec .text_contents .con_box .box_section figure.team img{
	border-radius: 50%;
}
.page_wrap .page_inner .sec .text_contents .con_box .box_section .box_ttl h4{
	font-size: 1.6rem;
	font-weight: bold;
	text-align: center;
}
.page_wrap .page_inner .sec .text_contents .con_box.brands .box_section{
	padding: 3rem;
	border-radius: 1rem;
}
.page_wrap .page_inner .sec .text_contents .con_box.brands .box_section figure.brands{
	text-align: center;
	margin-bottom: 2rem;
}
.page_wrap .page_inner .sec .text_contents .con_box.brands .box_section figure.brands img{
	border-radius: 1rem;
}
.page_wrap .page_inner .sec .text_contents .con_box.brands .box_section h4{
	font-size: 1.6rem;
	font-weight: bold;
	text-align: center;
}
.page_wrap .page_inner .sec .text_contents .con_box.brands .box_section h5{
	font-size: 1.4rem;
	font-style: italic;
	text-align: left;
}
.page_wrap .page_inner .sec .text_contents .contact_us{

}
.page_wrap .page_inner .sec .text_contents .contact_us .contact_info{
	display: flex;
	justify-content: center;
	gap: 5rem;
}
.page_wrap .page_inner .sec .text_contents .contact_us input,
.page_wrap .page_inner .sec .text_contents .contact_us textarea{
	border-top-style: hidden;
  	border-right-style: hidden;
  	border-left-style: hidden;
  	border-bottom-style: groove;
  	background:rgba(240, 236, 227, .3);
	border-bottom: 5px solid #4ec79c;;
	font-size: 1.8rem;
	outline: none;
}
.page_wrap .page_inner .sec .text_contents .contact_us input[type="text"],
.page_wrap .page_inner .sec .text_contents .contact_us textarea{
	font-family: calibri;
	font-size: 2rem;
	color: black;
	padding: 1rem;
	border-radius: 1rem;
}
.page_wrap .page_inner .sec .text_contents .contact_us .contact_info input{
	width: 100%;
	height: 5rem;
}
.page_wrap .page_inner .sec .text_contents .contact_us .contact_message textarea{
	width: 100%;
	height: 10rem;
	margin-top: 2rem;
}
.page_wrap .page_inner .sec .text_contents .contact_us .contact_message textarea{
	width: 100%;
	height: 10rem;
	margin-top: 2rem;
}
.page_wrap .page_inner .sec .text_contents .contact_us .btn_send{
	display: block;
    margin: 0 auto;
    background: #4ec79c;
    border: none;
    color: #fff;
    font-weight: bold;
    font-size: 2rem;
	margin-top: 2rem;
	padding: 1rem 5rem;
	border-top-left-radius: 4rem;
    border-bottom-right-radius: 4rem;
}
.page_wrap .footer{
	background:#fff;
	bottom: 0;
	color: #555555;
}
.page_wrap .footer .bottom_1{
	display: flex;
	justify-content: center;
	gap: 3rem;
}
.page_wrap .footer .bottom_1 .footer_logo{}
.page_wrap .footer .bottom_1 .footer_logo img{
	max-width: 300px;
}
.page_wrap .footer .bottom_1 .footer_address{
	align-self: center;
	font-size: 1.8rem;
	margin-top: 0.8rem;;
}
.page_wrap .footer .bottom_2 p{
	text-align: center;
	font-size: 1.5rem;
}
.page_wrap .bg_inner-1{
	background:rgba(240, 236, 227, .5);
}
.page_wrap .bg_inner-2{
	background: black;
}
/*bootstrap*/
.page_wrap .navbar-inverse{
	background: #fff;
	border: none;
}
.page_wrap .navbar {
	margin-bottom: 0;
}
.page_wrap address{
	margin: 0;
}
.page_wrap p{
	margin: 0;
}
.page_wrap .navbar-toggle{
	background:black;
}
.page_wrap .carousel-caption h3,
.page_wrap .carousel-caption p{
	font-family: calibri;
}
.page_wrap hr{
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.page_wrap .page_inner .sec .text_contents .con_box.brands .carousel-inner{
	border-radius: 2rem;
}
.page_wrap .page_inner .sec .text_contents .con_box.brands .container{
	width: 300px;
	border-radius: 2rem;
}
.page_wrap .carousel-control.right {
	border-radius: 2rem;
    right: 0;
    left: auto;
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.1) 100%);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.0001)), to(rgba(0, 0, 0, 0.1)));
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
    background-repeat: repeat-x;
}
.page_wrap .carousel-control.left {
	border-radius: 2rem;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.0001) 100%);
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.0001) 100%);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.0001)));
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.0001) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
    background-repeat: repeat-x;
}
/*end bootstrap*/