html{
	font-size: 62.5%;
    color: #555555;
}
.page_wrap {
    margin: 0;
    padding: 0;
    line-height: 1.5;
}
.page_wrap .page_inner {
    margin: 0 auto;
    box-sizing: border-box;
}
.page_wrap .page_inner .sec {
    position: relative;
    margin: 0 auto;
    padding: 2rem 4rem;
    width: 1040px;
    box-sizing: border-box;
    border-radius: 5px;
    clear: both;
}
.page_wrap .page_inner .sec::after{

}
.page_wrap .page_inner .sec .nav{
	font-size: 2rem;
	font-weight: bold;
	display: flex;
}
.page_wrap .page_inner .sec .nav .logo{
	
}
.page_wrap .page_inner .sec .nav .logo img{
	width: 100%;
	max-width: 200px;
}
.page_wrap .page_inner .sec ul{
	display: flex;
	justify-content: center;
	margin-left: 4rem;
}
.page_wrap .page_inner .sec ul a{
	text-decoration: none;
	color: #fff;
	border: 5px solid rgba(0, 0, 0, 0);;
}
.page_wrap .page_inner .sec ul a:hover{
	border: 5px solid #4ec79c;
}
.page_wrap .page_inner .sec ul li{
	padding: 2rem 2rem;
}
.page_wrap .page_inner .sec .container{
	width: 100%;
	padding: 0;
}
.page_wrap .page_inner .sec .ttl{
	text-align: center;
	font-weight: bold;
	margin: 2rem 0;
	text-transform: uppercase;
}
.page_wrap .page_inner .sec .ttl p{
	font-size: 3rem;
	border-bottom: 2px solid #4ec79c;
}
.page_wrap .page_inner .sec p{
	font-size: 1.8rem;
}
.page_wrap .page_inner .sec .bg_scheme{
	background:#EFEFEF;
}
.page_wrap .page_inner .sec .text_contents{

}
.page_wrap .page_inner .sec .text_contents .con_box{
	display: flex;
	gap: 3rem;
}
.page_wrap .page_inner .sec .text_contents .con_box .team_box{
	padding: 3rem;
}

.page_wrap .bg_inner-1{
	background: #F0ECE3;
}
.page_wrap .bg_inner-2{
	background: black;
}
/*bootstrap bypass*/
.page_wrap .navbar-inverse{
	background: black;
}
.page_wrap .navbar {
	margin-bottom: 0;
}
/**/